//font-family: Proxima Nova Rg;
//font-family: Proxima Nova Bold;
//font-family: Museo Sans Cyrl;
//font-family: Century Gothic;
//section  padding: 0;
$colors: #8BE7AA, #8BDCE7, #E78BDD, #8BE7D1, #E5E78B, #E7918B, #E7C88B;
/* ============================ email-course START ================================================================= */
.email-course {
   padding: 0;
   background: linear-gradient(80.5deg, #F1F9EB 2.55%, #FFF5E6 98.57%);
   // .email-course__container
   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      max-width: 1150px;
      width: 100%;
      margin: 0 auto;
      padding: 150px 15px 140px;
      @media screen and (max-width: 1023px) {
         flex-direction: column;
         padding: 50px 15px;
      }
   }
   // .email-course__wrapper
   &__wrapper {
      max-width: 516px;
      width: 100%;
   }
   // .email-course__label
   &__label {
      display: inline-block;
      padding: 3px 23px;
      background: #30B85E;
      border-radius: 27px;
      &:not(:last-child) {
         margin-bottom: 8px;
      }
      & > * {
         font-family: 'Montserrat';
         font-weight: 800;
         font-size: 16px;
         line-height: 20px;
         text-transform: uppercase;
         color: #FFFFFF;
      }
   }
   // .email-course__title
   &__title {
      & > * {
         font-family: Proxima Nova Bold;
         font-weight: 700;
         font-size: 46px;
         line-height: 50px;
         color: #25293F;
         & > * {
            background: transparent;
            color: #30B85E;
         }
      }
   }
   // .email-course__text
   &__text {
      max-width: 426px;
      width: 100%;
      &:not(:last-child) {
         margin-bottom: 50px;
      }
      & > * {
         font-family: 'Proxima Nova Rg';
         font-size: 22px;
         line-height: 27px;
         color: #25293F;
         & > * {
            font-family: 'Proxima Nova Bold';
            font-weight: 700;
         }
      }
   }
   // .email-course__link
   &__link {
      font-family: 'Museo Sans Cyrl';
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      text-transform: capitalize;
      color: #FFFFFF;
      min-width: 234px;
      background: #30B85E;
      border-radius: 6px;
      padding: 14px;
      text-align: center;
   }
   // .email-course__img
   &__img {
   }
}

.about-author {
   padding: 0;
   // .about-author__container
   &__container {
      display: flex;
      justify-content: space-between;
      max-width: 1150px;
      width: 100%;
      margin: 0 auto;
      padding: 125px 15px;
      @media screen and (max-width: 1023px) {
         flex-direction: column;
         align-items: center;
         padding: 80px 15px;
      }
   }
   // .about-author__img
   &__img {
      max-width: 550px;
      width: 100%;
      height: 1px;
      min-height: 498px;
      max-height: 498px;
      margin: 0 10px 0 0;
      @media screen and (max-width: 1023px) {
         margin: 0 0 40px 0;
      }
      @media screen and (max-width: 666px) {
         min-height: 282px;
         max-height: 282px;
      }
   }
   // .about-author__wrapper
   &__wrapper {
      @media screen and (min-width: 667px) {
         max-width: 455px;
         width: 100%;
      }
      @media screen and (max-width: 666px) {
         align-self: flex-start;
      }

      & > * {
         font-family: Proxima Nova Rg;
         font-size: 16px;
         line-height: 25px;
         color: #455A64;
         &:not(:last-child) {
            margin-bottom: 40px;
         }

         & > * {
            font-weight: 700;
         }
      }
   }
   // .about-author__title
   &__title {
      &:not(:last-child) {
         margin-bottom: 30px;
      }
      & > * {
         font-family: Proxima Nova Bold;
         font-weight: 700;
         font-size: 34px;
         line-height: 41px;
         text-transform: capitalize;
         color: #212121;
         @media screen and (max-width: 666px) {
            font-size: 28px;
            line-height: 41px;
         }
      }
   }
   // .about-author__list
   &__list {
      list-style: none;
      display: flex;
      align-items: center;
      &:not(:last-child) {
         margin-bottom: 30px;
      }

      & > li {
         width: 28px;
         height: 28px;
         &:not(:last-child) {
            margin-right: 16px;
         }

         & > a {
            display: block;
            width: 28px;
            height: 28px;
         }
         & > * {
            display: block;
            width: 28px;
            height: 28px;
         }
      }
   }
}

.learn {
   padding: 0;
   background: linear-gradient(89.92deg, #E7E4F5 0.06%, #FFF4CF 99.93%);
   // .learn__container
   &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      max-width: 1150px;
      width: 100%;
      margin: 0 auto;
      padding: 100px 15px;
      @media screen and (max-width: 666px) {
         padding: 64px 15px;
      }
   }
   // .learn__title
   &__title {
      &:not(:last-child) {
         margin-bottom: 60px;
         @media screen and (max-width: 666px) {
            margin-bottom: 50px;
         }
      }
      & > * {
         font-family: Proxima Nova Bold;
         font-weight: 700;
         font-size: 34px;
         line-height: 41px;
         text-transform: capitalize;
         color: #212121;
         @media screen and (max-width: 666px) {
            font-size: 28px;
            line-height: 41px;
         }
      }
   }
   // .learn__list
   &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      counter-reset: myCounter;

      & > li {
         position: relative;
         display: flex;
         color: #25293F;
         padding-top: 40px;
         flex: 0 1 calc(25% - 15px);
         @media screen and (max-width: 768px) {
            flex: 0 1 calc(50% - 15px);
         }
         @media screen and (max-width: 666px) {
            flex: 0 1 calc(100% - 15px);
         }
         & > * {
            font-family: 'Proxima Nova Rg';
            font-size: 22px;
            line-height: 30px;
            & > * {
               font-family: 'Proxima Nova Bold';
               font-weight: 700;
            }
         }

         &::before {
            position: absolute;
            top: 0;
            left: 0;
            background: #8BE7AA;
            counter-increment: myCounter;
            content: counter(myCounter);
            display: inline-block;
            text-align: center;
            min-width: 38px;
            height: 23px;
            margin-right: 2px;
            font-weight: 700;
            font-size: 11px;
            line-height: 25px;
            border-radius: 33px;
            border: 1px solid #000000;
         }
         &:nth-child(8n+1),
         &:nth-child(9n+1) {
            &:before {
               background-color: nth($colors, 1);
            }
         }
         &:nth-child(8n+2),
         &:nth-child(9n+2) {
            &:before {
               background-color: nth($colors, 2);
            }
         }
         &:nth-child(8n+3),
         &:nth-child(9n+3) {
            &:before {
               background-color: nth($colors, 3);
            }
         }
         &:nth-child(8n+4),
         &:nth-child(9n+4) {
            &:before {
               background-color: nth($colors, 4);
            }
         }
         &:nth-child(8n+5),
         &:nth-child(9n+5) {
            &:before {
               background-color: nth($colors, 5);
            }
         }
         &:nth-child(8n+6),
         &:nth-child(9n+6) {
            &:before {
               background-color: nth($colors, 6);
            }
         }
         &:nth-child(8n+7),
         &:nth-child(9n+7) {
            &:before {
               background-color: nth($colors, 7);
            }
         }
      }
   }
   // .learn__link
   &__link {
   }
}

.your-chance {
   position: relative;
   padding: 0;
   // .your-chance__img
   &__img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
   }
   // .your-chance__container
   &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 1150px;
      width: 100%;
      margin: 0 auto;
      padding: 70px 15px;
      text-align: center;

   }
   // .your-chance__title
   &__title {
      &:not(:last-child) {
         margin-bottom: 24px;
      }
      & > * {
         font-family: 'Proxima Nova Bold';
         font-weight: 700;
         font-size: 34px;
         line-height: 41px;
         text-transform: capitalize;
         color: #212121;
      }
   }
   // .your-chance__icon
   &__icon {
   }
   // .your-chance__text
   &__text {
      &:not(:last-child) {
         margin-bottom: 50px
      }
      & > * {
         font-family: 'Proxima Nova Rg';
         font-size: 18px;
         line-height: 41px;
         color: #212121;
      }
   }
   // .your-chance__link
   &__link {
      font-family: 'Museo Sans Cyrl';
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      text-transform: capitalize;
      color: #FFFFFF;
      min-width: 234px;
      background: #30B85E;
      border-radius: 6px;
      padding: 15px 50px;
      text-align: center;
   }
}

/* ============================ email-course END ================================================================= */