//font-family: Proxima Nova Rg;
//font-family: Proxima Nova Bold;
//font-family: Museo Sans Cyrl;
//font-family: Century Gothic;
//img height:100%; width:100%; object-fit: cover;
//section  padding: 0;
/* ============================ ebook-author START ================================================================= */
.ebook-author {
   padding: 0;
   // .ebook-author__container
   &__container {
      max-width: 1150px;
      width: 100%;
      margin: 0 auto;
      padding: 126px 15px;
      @media screen and (max-width: 666px) {
         padding: 80px 15px;
      }
   }
   // .ebook-author__title
   &__title {
      display: inline-block;
      &:not(:last-child) {
         margin-bottom: 60px;
         @media screen and (max-width: 666px) {
            margin-bottom: 50px;
         }
      }

      & > * {
         font-family: 'Proxima Nova Bold';
         font-weight: 700;
         font-size: 34px;
         line-height: 41px;
         align-items: center;
         text-align: center;
         text-transform: capitalize;
         color: #212121;

         & > * {
            color: #30B85E;
         }
         @media screen and (max-width: 666px) {
            font-size: 28px;
            line-height: 41px;
         }
      }
   }
   // .ebook-author__list
   &__list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      row-gap: 40px;
      column-gap: 20px;
      @media screen and (max-width: 666px) {
         flex-direction: column;
      }
   }
   // .ebook-author__item
   &__item {
      @media screen and (min-width: 667px) {
         flex: 0 1 calc(100% / 3 - 14px);
      }
      @media screen and (min-width: 768px) and (max-width: 1023px) {
         flex: 0 1 calc(100% / 2 - 10px);

      }
   }
   // .ebook-author__wrapper
   &__wrapper {
      display: flex;
      align-items: center;
      &:not(:last-child) {
         margin-bottom: 8px;
      }
   }
   // .ebook-author__img
   &__img {
      width: 30px;
      height: 1px;
      max-height: 30px;
      min-height: 30px;

      &:not(:last-child) {
         margin-right: 16px;
      }

      & > * {
         display: block;
         width: 30px;
         height: 30px;
         object-fit: contain;
      }
   }
   // .ebook-author__title-list
   &__title-list {
      & > * {
         font-family: 'Proxima Nova Bold';
         font-weight: 600;
         font-size: 20px;
         line-height: 24px;
         text-transform: capitalize;
         color: #212121;
      }
   }
   // .ebook-author__text-list
   &__text-list {
      & > * {
         font-family: 'Museo Sans Cyrl';
         font-weight: 300;
         font-size: 16px;
         line-height: 25px;
         color: #455A64;
      }
   }
}

.ebook-packages {
   padding: 0;
   // .ebook-packages__container
   &__container {
      max-width: 1150px;
      width: 100%;
      margin: 0 auto;
      padding: 125px 15px;
      @media screen and (max-width: 666px) {
         padding: 80px 15px;
      }
   }
   // .ebook-packages__title
   &__title {
      &:not(:last-child) {
         margin-bottom: 60px;
      }
      & > * {
         font-family: 'Proxima Nova Bold';
         font-weight: 700;
         font-size: 34px;
         line-height: 41px;
         color: #212121;
         @media screen and (max-width: 666px) {
            font-size: 28px;
            line-height: 41px;
            text-align: center;
            & > * {
               font-size: 28px;
               line-height: 41px;
            }
         }
         & > * {
            color: #30B85E;
         }
      }
   }
   // .ebook-packages__list
   &__list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      row-gap: 60px;
      column-gap: 78px;

      @media screen and (max-width: 666px) {
         gap: 40px;
      }
   }
   // .ebook-packages__item
   &__item {
      display: flex;
      flex-direction: column;
      border: 1px solid #E0E0E0;
      border-radius: 6px;
      padding: 24px;
      gap: 16px;

      @media screen and (max-width: 666px) {
         padding: 16px;
      }
      @media screen and (min-width: 667px) {
         flex: 0 1 calc(100% / 2 - 39px);
      }
   }
   // .ebook-packages__img
   &__img {
      height: 1px;
      max-height: 272px;
      min-height: 272px;

      & > * {
         height: 100%;
         width: 100%;
         object-fit: cover;
         border-radius: 6px;
         vertical-align: top;
      }
   }
   // .ebook-packages__wrapper
   &__wrapper {
   }
   // .ebook-packages__inner
   &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
   }
   // .ebook-packages__title-list
   &__title-list {
      & > * {
         font-family: 'Proxima Nova Bold';
         font-weight: 700;
         font-size: 24px;
         line-height: 29px;
         color: #212121;

      }
      &_label {
         padding: 4px;
         background: #F8DBA1;
         text-align: center;
         @media screen and (max-width: 666px) {
            border-radius: 4px;
         }

         & > * {
            font-family: 'Proxima Nova Rg';
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            color: #212121;
         }

      }
   }
   // .ebook-packages__price
   &__price {
      display: flex;
      gap: 4px;

      & > * {
         font-family: 'Proxima Nova Bold';
         font-weight: 700;

         &:last-child {
            font-size: 14px;
            line-height: 17px;
            color: #E85A59;
         }
         &:first-child {
            font-size: 24px;
            line-height: 29px;
            color: #30B85E;
         }
      }
   }
   // .ebook-packages__box
   &__box {
      display: flex;
      align-items: center;
      gap: 24px;

      @media screen and (max-width: 666px) {
         flex-direction: column;
         align-items: stretch;
         gap: 12px;
      }

      & > * {
         flex: 0 1 calc(100% / 2 - 12px);
      }
   }
   // .ebook-packages__list-check
   &__list-check {
      list-style: none;
      // .ebook-packages__list-check_free
      &_free {
      }
   }
   // .ebook-packages__list-check-wrapper
   &__list-check-wrapper {
      @media screen and (min-width: 667px) {
         border: 1px solid #F8DBA1;
         border-radius: 6px;
         overflow: hidden;
      }
   }
   // .ebook-packages__link
   &__link {
      background: #30B85E;
      border-radius: 6px;
      font-family: 'Museo Sans Cyrl';
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      padding: 15px;
      color: #FFFFFF;
   }
}

.ebook-series-book {
   position: relative;
   padding: 100px 0;
   @media screen and (min-width: 667px) {
      background: url("img/sprite/ebook-series-book-bg.jpg") no-repeat center;
      background-size: cover;
   }
   @media screen and (max-width: 666px) {
      padding: 64px 0 40px;
      background: linear-gradient(89.92deg, #EBF3F5 0.06%, #FAF4E0 99.93%);
   }
   // .ebook-series-book__container
   &__container {
      max-width: 762px;
      width: 100%;
      margin: 0 auto;
      padding: 0 15px;
      display: flex;
      flex-direction: column;
   }
   // .ebook-series-book__title
   &__title {
      text-align: center;
      &:not(:last-child) {
         margin-bottom: 32px;
      }
      & > * {
         font-family: 'Proxima Nova Bold';
         font-weight: 700;
         font-size: 34px;
         line-height: 41px;
         color: #212121;
         @media screen and (max-width: 666px) {
            font-size: 28px;
            line-height: 34px;
         }
      }
   }
   // .ebook-series-book__link
   &__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: rgba(255, 255, 255, 0.34);
      border: 1px solid rgba(36, 76, 217, 0.42);
      border-radius: 6px;
      padding: 24px;

      &:not(:last-child) {
         margin-bottom: 16px;
      }
   }
   // .ebook-series-book__discount
   &__discount {
      background: #DAE8FA;
      border-radius: 6px;
      padding: 10px 32px;

      &:not(:last-child) {
         margin-bottom: 11px;
      }

      & > * {
         font-family: 'Proxima Nova Bold';
         font-weight: 800;
         font-size: 24px;
         line-height: 22px;
         text-transform: uppercase;
         color: #3874EA;

      }
      // .ebook-series-book__discount_accent
      &_accent {
         background: #FFF2D7;
         & > * {
            color: #FBC02D;

         }

      }
   }
   // .ebook-series-book__text
   &__text {
      text-align: center;
      & > * {
         font-family: 'Proxima Nova Rg';
         font-weight: 400;
         font-size: 24px;
         line-height: 29px;
         color: #212121;
      }
   }
   // .ebook-series-book__img-books
   &__img-books {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      z-index: 1;
      @media screen and (max-width: 666px) {
         display: none;
      }

      & > * {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}

.ebook-design-book {
   padding: 0;
   // .ebook-design-book__container
   &__container {
      max-width: 1150px;
      width: 100%;
      margin: 0 auto;
      padding: 125px 15px;
      @media screen and (max-width: 666px) {
         padding: 80px 15px;
      }
   }
   // .ebook-design-book__title
   &__title {
      &:not(:last-child) {
         margin-bottom: 60px;
         @media screen and (max-width: 666px) {
            margin-bottom: 50px;
         }
      }
      text-align: center;

      & > * {
         font-family: 'Proxima Nova Bold';
         font-weight: 700;
         font-size: 34px;
         line-height: 41px;
         color: #212121;
         @media screen and (max-width: 666px) {
            font-size: 28px;
            line-height: 34px;
         }
      }
   }
   // .ebook-design-book__list
   &__list {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 40px 30px;
      @media screen and (max-width: 666px) {
         flex-direction: column;
         gap: 32px;
      }

      &:not(:last-child) {
         margin-bottom: 16px;
      }
   }
   // .ebook-design-book__item
   &__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid #E0E0E0;
      border-radius: 2px;
      padding: 30px 16px;
      flex: 0 1 calc(100% / 3 - 20px);
      @media screen and (min-width: 667px) and (max-width: 992px) {
         flex: 0 1 calc(100% / 2 - 15px);
      }
   }
   // .ebook-design-book__inner
   &__inner {
      &:not(:last-child) {
         margin-bottom: 20px;
      }
   }
   &__box {
      padding-top: 20px;
      border-top: 1px solid #EBEBEB;
   }
   // .ebook-design-book__wrapper
   &__wrapper {
      display: flex;
      justify-content: space-between;
      gap: 16px;
      &:not(:last-child) {
         margin-bottom: 5px;
      }
   }
   // .ebook-design-book__text-list
   &__text-list {
      & > * {
         font-family: 'Proxima Nova Rg';
         font-size: 20px;
         line-height: 24px;
         color: #212121;
      }
   }
   // .ebook-design-book__price
   &__price {
      & > * {
         font-family: 'Proxima Nova Bold';
         font-weight: 700;
         font-size: 20px;
         line-height: 24px;
         text-transform: uppercase;
         color: #66BB6A;
      }
   }
   // .ebook-design-book__sub-text
   &__sub-text {
      & > * {
         font-family: 'Proxima Nova Rg';
         font-size: 16px;
         line-height: 19px;
         color: #455A64;
      }
   }
   // .ebook-design-book__link
   &__link {
      background: #30B85E;
      border-radius: 4px;
      font-family: 'Museo Sans Cyrl';
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      padding: 10px 35px;
      color: #FFFFFF;
      text-align: center;
   }
   // .ebook-design-book__text
   &__text {
      & > * {
         font-family: 'Proxima Nova Rg';
         font-size: 16px;
         line-height: 23px;
         color: #455A64;
      }
   }
}

.ebook-marketing {
   padding: 0;
   // .ebook-marketing__container
   &__container {
      max-width: 1150px;
      width: 100%;
      margin: 0 auto;
      padding: 0 15px 125px;
      @media screen and (max-width: 666px) {
         padding: 80px 15px;
      }
   }
   // .ebook-marketing__title
   &__title {
      &:not(:last-child) {
         margin-bottom: 64px;
         @media screen and (max-width: 666px) {
            margin-bottom: 50px;
         }
      }

      & > * {
         font-family: 'Proxima Nova Bold';
         font-weight: 700;
         font-size: 34px;
         line-height: 41px;
         text-align: center;
         color: #212121;
         @media screen and (max-width: 666px) {
            font-size: 28px;
            line-height: 41px;
         }
      }
   }
   // .ebook-marketing__list
   &__list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      gap: 60px 20px;
      @media screen and (max-width: 666px) {
         gap: 40px;
         flex-direction: column;
      }

      &:not(:last-child) {
         margin-bottom: 24px;
      }
   }
   // .ebook-marketing__item
   &__item {
      border-radius: 2px;
      flex: 0 1 calc(100% / 4 - 15px);
      @media screen and (min-width: 667px) and (max-width: 992px) {
         flex: 0 1 calc(100% / 3 - 14px);
      }
      @media screen and (max-width: 666px) {
         flex: 1 1 100%;
      }
   }
   // .ebook-marketing__img
   &__img {
      border: 1px solid #E5E5E5;
      border-radius: 2px;
      height: 1px;
      min-height: 150px;
      max-height: 150px;
      @media screen and (max-width: 666px) {
         min-height: 195px;
         max-height: 195px;
      }
      &:not(:last-child) {
         margin-bottom: 16px;
      }

      & > * {
         width: 100%;
         height: 100%;
         vertical-align: top;
         object-fit: cover;
      }
   }
   // .ebook-marketing__text-list
   &__text-list {
      &:not(:last-child) {
         margin-bottom: 4px;
      }

      & > * {
         font-family: 'Proxima Nova Rg';
         font-weight: 400;
         font-size: 20px;
         line-height: 24px;
         color: #212121;
      }
   }
   // .ebook-marketing__price
   &__price {
      &:not(:last-child) {
         margin-bottom: 16px;
      }

      & > * {
         font-family: 'Proxima Nova Bold';
         font-weight: 700;
         font-size: 20px;
         line-height: 24px;
         text-transform: uppercase;
         color: #66BB6A;
      }
   }
   // .ebook-marketing__link
   &__link {
      font-family: 'Museo Sans Cyrl';
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      background: #30B85E;
      border-radius: 4px;
      padding: 10px 35px;
   }
   &__text {
      & > * {
         font-family: 'Proxima Nova Rg';
         font-weight: 400;
         font-size: 16px;
         line-height: 23px;
         color: #455A64;
      }
   }
}

/* ============================ ebook-author END ================================================================= */