<div class="form-group">
   <div class="dropdown">
       <button type="button" class="dropdown__button">Заметки путешественника</button>
       <ul class="dropdown__list">
          <li class="dropdown__item" data-value="travel">Заметки путешественника</li>
          <li class="dropdown__item" data-value="lessons">Конспекты по учебе</li>
          <li class="dropdown__item" data-value="photo">Фотоальбом</li>
          <li class="dropdown__item" data-value="sport">Дневник спортсмена</li>
       </ul>
       <input type="hidden" name="select-category" value="" class="dropdown__input-hidden">
   </div>
</div>