//шаблон класів для елементів з однаковими чи сходжими стилями

/* ============================ styles from placeholder START ================================================================= */
%text {
   font-family: var(--font-family);
   font-weight: 600;
   font-size: 2.6rem;
   line-height: 1.19;
   color: green;
   //для тексту .header__text > p
   & > * {
      color: red;
      border: solid 1px tomato;
   }
}

//@extend %text;

/* ============================ styles from placeholder END ================================================================= */
